<article>
  <h1>Consultation:</h1>
  <table class="w3-table w3-striped w3-bordered w3-size">
    <tr class="backtable">
      <th>Nom</th>
      <th>Prénom</th>
      <th>Score</th>
      <th>Validation</th>
    </tr>
    <tr *ngFor="let player of watchList;" id="{{player.idplayer}}">
      <td>{{player.lnameP}}</td>
      <td>{{player.fnameP}}</td>
      <td><input type="text" #score class="w3-input" required></td>
      <input type="hidden" #idplayer value="{{player.idplayer}}">
      <td><input type="submit" value="✓" class="w3-button" (click)="validPassage(score,idplayer)"></td>
    </tr>
  </table>
</article>
